{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 160,
  "bracketSpacing": true,
  "tabWidth": 2,
  "endOfLine": "auto",
  "arrowParens": "always",
  "importOrder": ["^@mui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
